Source: bluedevil
Section: net
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
XSBC-Original-Maintainer: Paulo Dias <paulo.miguel.dias@gmail.com>
Uploaders: Florian Reinhard <florian.reinhard@googlemail.com>,
           George Kiagiadakis <kiagiadakis.george@gmail.com>,
           Mark Purcell <msp@debian.org>,
           Modestas Vainius <modax@debian.org>
Build-Depends: cmake,
               extra-cmake-modules,
               debhelper (>= 9.0.0),
               libbluedevil-dev (>= 5.1.95),
               pkg-kde-tools,
               qtdeclarative5-dev,
               libkf5coreaddons-dev,
               libkf5widgetsaddons-dev,
               libkf5dbusaddons-dev,
               libkf5notifications-dev,
               libkf5iconthemes-dev,
               libkf5i18n-dev,
               kio-dev,
               shared-mime-info
Standards-Version: 3.9.6
Homepage: https://projects.kde.org/projects/kde/workspace/bluedevil
Vcs-Git: git://anonscm.debian.org/pkg-kde/plasma/bluedevil.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/plasma/bluedevil.git;a=summary

Package: bluedevil
Architecture: linux-any
Depends: bluez (>= 5),
         obex-data-server,
         bluez-obexd,
         ${misc:Depends},
         ${shlibs:Depends}
Suggests: pulseaudio-module-bluetooth | bluez-alsa
Description: KDE Bluetooth stack
 BlueDevil is a set of components which integrate Bluetooth in KDE.
 It contains:
  * A KDE Control Module (KCM) to configure all the Bluetooth-related options.
  * Integration with the KDE input/output system (KIO), which allows you to
    discover and explore Bluetooth devices from your favorite file browser.
  * A wizard to pair your devices and connect directly to services they offer,
    such as input (mouse, keyboard, Wiimote) and audio (headsets, phones).
  * A system tray application from where all BlueDevil actions can be done
    (disconnect devices, send files, configure, etc).
  * A daemon which listens to incoming requests, for example to receive files
    or to introduce a requested PIN.
